<!DOCTYPE html>
<html ng-app='NgAirdna'>
  <head>
    <meta charset="utf-8">
    <title>Ng-Airdna</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/nv.d3.min.css">
    <link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
    <base href="/">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="js/nv.d3.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="node_modules/angular-chartjs-directive/chartjs-directive.js"></script>
    <script src="node_modules/ngmap/build/scripts/ng-map.min.js"></script>
    <script src="http://maps.google.com/maps/api/js"></script>
    <script type="text/javascript" src='js/app.js'></script>
    <script type="text/javascript" src='js/services.js'></script>
    <script type="text/javascript" src='js/controllers.js'></script>
    <script type="text/javascript" src='js/directives.js'></script>

  </head>
  <body ng-controller='SearchController'>
      <div class='title'>
        <h1>Rentalizer Demo</h1>
          <div class='lead'>
              <p>Input your address to find information about yours and comparable Airbnb rentals</p>
          </div>

          <form ng-model='searchAddress'>
            <label class='hidden' for='name'></label>
            <input class='form-control' type='text' ng-model='searchAddress.address' name='address' placeholder="Search for an address here">
            <input class='form-control' type='text' ng-model='searchAddress.zip' name='zip' placeholder="Zip Code Here">
            <input class='form-control' type='text' ng-model='searchAddress.searchBR' name='br' placeholder="Bedrooms #">
            <input class='form-control' type='text' ng-model='searchAddress.searchBA' name='ba' placeholder="Bathrooms #">
            <input class='form-control' type='text' ng-model='searchAddress.searchAccom' name='accom' placeholder="Accomodates">
            <input class='btn btn-info' type='button' ng-click='submitSearch()' value='Find It'>
          </form>
          <br>
          <div ng-if="view.error"><p>{{view.error}}</p></div>
        </div>
          <hr>
        <div ng-if="view.current.display" id="mapOutput" class="col-md-12">

        </div>
          <div class="container" ng-if="view.current.display">
            <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3>Rentalizer Results</h3>
              </div>

              <div class="panel-body">
                  <div class="center row">
                    <div class='col-md-4'>
                      <h4>Housing Info:</h4>
                      <img src={{view.current.image}} />
                      <h6><strong>Address:</strong> {{view.current.property_details.address}} {{view.current.property_details.zipcode}}</h6>
                      <h6><strong>Bathrooms:</strong> {{view.current.property_details.bathrooms}}  <strong>Bedrooms:</strong> {{view.current.property_details.bedrooms}}</h6>
                    </div>
                    <div class="col-md-4">
                    <div map-lazy-load="https://maps.google.com/maps/api/js">
                        <ng-map id="resultMap" center="39.717953,-104.985879" zoom="12">
                          <marker position="39.717953,-104.985879">
                          </marker>
                        </ng-map>
                      </div>
                    </div>
                    <div class='col-md-4'>
                      <h4>Avg. Occupancy Percent:</h4>
                      <donut-chart id="chart">
                        <svg></svg>
                      </donut-chart>
                      <br>
                      <h6><strong>Annual Est. Revenue:</strong> {{view.current.revenue_potential.ltm | currency: "$":0 }}
                      <span class="pull-right"><strong>Avg. Day Rate:</strong> {{view.current.adr_predicted.ltm | currency: "$"}}</span></h6>
                    </div>
                  </div>
                </div>
          </div>
            <hr>

                <div class="title text-left"><h1>Comparable Properties</h1></div>
                <br>
                  <div ng-repeat='prop in view.data.comps'>
                  <div class='col-md-6'>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <strong>Avg. Daily Rates:</strong> {{ getAverage(prop.adr) | currency:"$":0}}</strong>
                        <span class="pull-right" style="text-align:right"><strong>Revenue Potential:</strong> {{prop.revenue_potential.ltm[0] | currency:"$":0}}</strong></span>
                      </div>
                      <div class="panel-body">
                        <div class='col-md-6'>
                          <img ng-src="https://maps.googleapis.com/maps/api/streetview?size=600x300&location={{prop.lat}},{{prop.lng}}&key=AIzaSyBdTlnuIm3BaESwJbfcIpbACvsgRh21UXg" />
                        </div>
                        <div class='col-md-6'>
                          <br>
                          <h6><strong>Occupancy Rates: </strong>{{ (getAverage(prop.occ) * 100) | number:0}}%</h6>
                          <h6><strong>Bathrooms: </strong>{{prop.bathrooms}}</h6>
                          <h6><strong>Bedrooms: </strong>{{prop.bedrooms}}</h6>
                          <h6><strong>Sleeps: </strong>{{prop.accommodates}}</h6>
                          <!-- <p>URL: {{prop.url}}</p>
                          <p>GEO: {{prop.lat}} , {{prop.lng}}</p>
                          <p>UID: {{prop.prop_id}}</p>
                          <p>Distance: {{prop.distance_meters}} m</p> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

  </body>
</html>
